<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :property_type %><br>
    <%= f.select :property_type, Property::PROPERTY_TYPES, prompt: 'Property type:' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="checkbox_field">
  	<%= f.label :features %><br>
  	<%= f.collection_check_boxes :feature_ids, Feature.all, :id, :name do |c| %>
    <div class="checkboxes">
      <%= c.check_box %>
      <%= c.label %>
    </div>
  <% end %>
  </div>
  <div class="field">
    <%= f.label "Upload your image files here:" %><br>
    <%= f.file_field :image, name: "photos[image][]", multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png"%>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
