<h1>Listing properties</h1>

<table>
  <thead>
    <tr>
      <th>Preview</th>
      <th>Title</th>
      <th>Property type</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
      	<td><%= image_tag property.photos.first.image_url(:thumb) if property.photos.first%></td>
        <td><%= property.title %></td>
        <td><%= property.property_type %></td>
        <td><%= property.description %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
