<%= form_tag(properties_path, method: "get", id: "searchbar") do %>
	<%= text_field_tag :search, params[:search], 
		placeholder: "Find properties by title, type or description" %>
	<%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Preview</th>
      <th>Title</th>
      <th>Property type</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
      	<% if property.photos.any? %>
      		<td><%= image_tag(property.photos.first.image_url(:thumb))%></td>
      	<% else %>
      		<td><%= image_tag("property_default.png")%></td>
      	<% end %>
        <td><%= property.title %></td>
        <td><%= property.property_type %></td>
        <td><%= property.description %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
