<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <h2 id = "title"><%= @property.title %></h2>
</p>

<h3 id = "property_type">
  <%= @property.property_type %>
</h3>

<p id = "description">
  <%= @property.description %>
</p>

<p>
 <% if @property.features.any?%>
  <strong>Features:</strong>
  	<% @property.features.each do |f| %>
  	 <ul>
  		<li><%= f.name %></li>
 	 </ul>
  	<% end %>
  <% end %>
</p>


<p>
  <% if @property_photos.any? %>
    <strong>Photos</strong> <br/>
    	<% @property_photos.each do |p| %>
    	<div class="photo">
  			<%= image_tag p.image_url %> <br/>
  		</div>
	<% end %>
  <% else %>
  	<strong id = "no_photos">No photos to show</strong>
  <% end %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
